@define-color theme_fg_color #AEE5FA;
@define-color theme_text_color #AEE5FA;
@define-color theme_bg_color #1a1b26;
@define-color theme_base_color #1a1b26;
@define-color theme_selected_bg_color #AEE5FA;
@define-color theme_selected_fg_color rgba(0, 0, 0, 0.87);
@define-color insensitive_bg_color #1a1b26;
@define-color insensitive_fg_color rgba(192, 202, 245, 0.5);
@define-color insensitive_base_color #24283b;
@define-color theme_unfocused_fg_color #AEE5FA;
@define-color theme_unfocused_text_color #c0caf5;
@define-color theme_unfocused_bg_color #1a1b26;
@define-color theme_unfocused_base_color #1a1b26;
@define-color theme_unfocused_selected_bg_color #a9b1d6;
@define-color theme_unfocused_selected_fg_color rgba(0, 0, 0, 0.87);
@define-color unfocused_insensitive_color rgba(192, 202, 245, 0.5);
@define-color borders rgba(192, 202, 245, 0.12);
@define-color unfocused_borders rgba(192, 202, 245, 0.12);
@define-color warning_color #FDD633;
@define-color error_color #BA1B1B;
@define-color success_color #81C995;
@define-color wm_title #AEE5FA;
@define-color wm_unfocused_title rgba(192, 202, 245, 0.7);
@define-color wm_highlight rgba(192, 202, 245, 0.1);
@define-color wm_bg #1a1b26;
@define-color wm_unfocused_bg #1a1b26;
@define-color wm_button_close_icon #1a1b26;
@define-color wm_button_close_hover_bg #a9b1d6;
@define-color wm_button_close_active_bg #c7c7c7;
@define-color content_view_bg #1a1b26;
@define-color placeholder_text_color #f0dedf;
@define-color text_view_bg #1d1d1d;
@define-color budgie_tasklist_indicator_color #90D1F6;
@define-color budgie_tasklist_indicator_color_active #90D1F6;
@define-color budgie_tasklist_indicator_color_active_window #999999;
@define-color budgie_tasklist_indicator_color_attention #FDD633;
@define-color STRAWBERRY_100 #FF9262;
@define-color STRAWBERRY_300 #FF793E;
@define-color STRAWBERRY_500 #F15D22;
@define-color STRAWBERRY_700 #CF3B00;
@define-color STRAWBERRY_900 #AC1800;
@define-color ORANGE_100 #FFDB91;
@define-color ORANGE_300 #FFCA40;
@define-color ORANGE_500 #FAA41A;
@define-color ORANGE_700 #DE8800;
@define-color ORANGE_900 #C26C00;
@define-color BANANA_100 #FFFFA8;
@define-color BANANA_300 #FFFA7D;
@define-color BANANA_500 #FFCE51;
@define-color BANANA_700 #D1A023;
@define-color BANANA_900 #A27100;
@define-color LIME_100 #A2F3BE;
@define-color LIME_300 #8ADBA6;
@define-color LIME_500 #73C48F;
@define-color LIME_700 #479863;
@define-color LIME_900 #1C6D38;
@define-color BLUEBERRY_100 #94A6FF;
@define-color BLUEBERRY_300 #6A7CE0;
@define-color BLUEBERRY_500 #3F51B5;
@define-color BLUEBERRY_700 #213397;
@define-color BLUEBERRY_900 #031579;
@define-color GRAPE_100 #D25DE6;
@define-color GRAPE_300 #B84ACB;
@define-color GRAPE_500 #9C27B0;
@define-color GRAPE_700 #830E97;
@define-color GRAPE_900 #6A007E;
@define-color COCOA_100 #9F9792;
@define-color COCOA_300 #7B736E;
@define-color COCOA_500 #574F4A;
@define-color COCOA_700 #463E39;
@define-color COCOA_900 #342C27;
@define-color SILVER_100 #EEE;
@define-color SILVER_300 #CCC;
@define-color SILVER_500 #AAA;
@define-color SILVER_700 #888;
@define-color SILVER_900 #666;
@define-color SLATE_100 #888;
@define-color SLATE_300 #666;
@define-color SLATE_500 #444;
@define-color SLATE_700 #222;
@define-color SLATE_900 #111;
@define-color BLACK_100 #474341;
@define-color BLACK_300 #403C3A;
@define-color BLACK_500 #393634;
@define-color BLACK_700 #33302F;
@define-color BLACK_900 #2B2928;
@define-color accent_bg_color #ffb2bd;
@define-color accent_fg_color #561d29;
@define-color accent_color #ffb2bd;
@define-color destructive_bg_color #ffb4ab;
@define-color destructive_fg_color #690005;
@define-color destructive_color #ffb4ab;
@define-color success_bg_color #C5E1A5;
@define-color success_fg_color #33691E;
@define-color warning_bg_color #FFE082;
@define-color warning_fg_color #E65100;
@define-color error_bg_color #ffb4ab;
@define-color error_fg_color #690005;
@define-color window_bg_color #191112;
@define-color window_fg_color #f0dedf;
@define-color view_bg_color #191112;
@define-color view_fg_color #f0dedf;
@define-color headerbar_bg_color rgb(12.3529411765%, 9.0196078431%, 9.4117647059%);
@define-color headerbar_fg_color #ffd9dd;
@define-color headerbar_border_color #5c3f43;
@define-color headerbar_backdrop_color @headerbar_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.09);
@define-color card_bg_color #140c0d;
@define-color card_fg_color #ffd9dd;
@define-color card_shade_color rgba(0, 0, 0, 0.09);
@define-color dialog_bg_color #261d1e;
@define-color dialog_fg_color #ffd9dd;
@define-color popover_bg_color #261d1e;
@define-color popover_fg_color #ffd9dd;
@define-color thumbnail_bg_color #1a1b26;
@define-color thumbnail_fg_color #AEE5FA;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);
@define-color sidebar_bg_color #191112;
@define-color sidebar_fg_color #f0dedf;
@define-color sidebar_border_color #191112;
@define-color sidebar_backdrop_color #191112;
.navigation-sidebar {
  background-color: #191112;
}
.navigation-sidebar label {
  color: #9f8c8e;
}
.navigation-sidebar row {
  border-radius: 100px;
}
.navigation-sidebar row:selected {
  background-color: #5c3f43;
}
.navigation-sidebar row:selected label {
  color: #ffd9dd;
  background-color: transparent;
}
.navigation-sidebar row:active {
  background-color: rgb(42.4705882353%, 30.7450980392%, 32.3137254902%);
}
.navigation-sidebar row:active label {
  color: #ffd9dd;
  background-color: transparent;
}

tooltip {
  background-color: #261d1e;
  color: #f0dedf;
  border-radius: 11px;
  border: 0px solid;
}
tooltip label {
  color: #f0dedf;
  font-weight: 300;
}

menu * {
  border-radius: 0px;
}

separator {
  color: #9f8c8e;
}

menu {
  padding: 8px 0px 8px 0px;
  background-color: #261d1e;
}
menu separator {
  color: #9f8c8e;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0px;
}

button:not(.combo),
entry:not(.combo) {
  border-radius: 100px;
  outline: none;
}

switch {
  border: 2px solid;
  border-radius: 100px;
  border-color: #9f8c8e;
  background-color: #3d3233;
  transition: all 0.2s ease-in-out;
  transition-property: color, background, background-color, border-color;
}
switch slider {
  border-radius: 100%;
  background-color: #9f8c8e;
  transition: all 0.2s ease-in-out;
  transition-property: color, background, background-color;
}
switch:hover {
  background-color: rgb(29.537254902%, 25.0039215686%, 25.3960784314%);
}
switch:hover slider {
  background-color: #d6c2c3;
}
switch:disabled {
  background-color: rgba(61, 50, 51, 0.62);
  border-color: rgba(240, 222, 223, 0.62);
}
switch:disabled slider {
  background-color: rgba(240, 222, 223, 0.62);
}
switch:checked {
  background-color: #ffb2bd;
  border-color: transparent;
}
switch:checked slider {
  background-color: #561d29;
  border-color: transparent;
}
switch:checked:hover {
  background-color: #ffb2bd;
}
switch:checked:hover slider {
  background-color: #72333f;
}
switch:checked:disabled {
  background-color: rgba(240, 222, 223, 0.62);
  border-color: transparent;
}
switch:checked:disabled slider {
  background-color: rgba(25, 17, 18, 0.62);
}

progressbar.horizontal through, progressbar.horizontal progress, progressbar.horizontal {
  min-height: 6px;
}
progressbar.vertical through, progressbar.vertical progress, progressbar.vertical {
  min-width: 6px;
}
progressbar trough {
  background-color: #5c3f43;
}
progressbar progress {
  background-color: #ffb2bd;
}

levelbar.horizontal block {
  min-height: 6px;
}
levelbar.vertical block {
  min-width: 6px;
}
levelbar block.empty {
  background-color: #5c3f43;
}

scale trough {
  background-color: #5c3f43;
}
scale highlight {
  background-color: #ffb2bd;
}
scale slider {
  background-image: none;
}
scale.marks-after slider, scale.marks-before slider {
  transform: none;
}
scale.horizontal trough {
  min-height: 0.188rem;
}
scale.horizontal slider {
  min-height: 1.5rem;
  min-width: 0.5rem;
  margin: 0;
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
  border-radius: 0.75rem;
  background-color: #ffb2bd;
}
scale.vertical trough {
  min-width: 0.188rem;
}
scale.vertical slider {
  min-width: 1.5rem;
  min-height: 0.5rem;
  margin: 0;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  border-radius: 0.75rem;
  background-color: #ffb2bd;
}

spinbutton button.down, spinbutton button.up {
  border-radius: 0;
}

/*# sourceMappingURL=gtk-3.0.css.map */
@import "colors.css";
